.Banner_Container {
    /* height: 50vh; */
    display: block;
    background-color: rgba(75, 106, 119, 0.297);
}

.Banner_ImageContainer {
    display: flex;
    align-items: center;
    /* cursor: pointer; */
}

.Banner_ImagesConponent {
    height: 100vh;
    /* border: 1rem; */
    background-color: rgba(75, 106, 119, 0.497);
    object-fit: contain;
}