.CardWrapper_Container {
    max-width: 2000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem 1rem;
    margin-bottom: 3rem;
}

@media (width < 1200px) {
    .CardWrapper_Container {
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr; */
    }
}