.Card_Container {
    border: 2px solid snow;
    padding: 1rem;
    border-radius: .5rem;
    color: snow;
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 2rem;
}

.Card_Top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.Card_Top h1:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: .4rem;
    color: red;
    transition: all 1s;
}

.Card_Top h1:focus {
    cursor: pointer;
    text-decoration: underline;
    color: red;
    transition: all 1s;
}

.Card_Top a {
    text-decoration: none;
    color: snow;
}
.Card_Top img {
    width: 300px;
    aspect-ratio: 4/5;
}

.Card_Bottom {
    text-align: justify;
    line-height: 1.6;
}

