.CardWrapper_Container {
    max-width: 2000px;
    margin: 0 auto;
    background-color: rgb(21, 20, 20);
    display: flex;
    gap: 2rem;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}