.featured_Container {
  /* height: 100vh; */
  width: 98%;
  color: whitesmoke;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: .5rem;
  border: 1px solid;
  /* padding: 0 1rem; */
  display: flex;
  align-items: end;
}

.featured_Flex {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.featured_Info {
  display: flex;
  flex-direction: column;
  font-size: clamp(1.5rem, 2.5vw, 5rem);
  width: 50%;
  padding-left: 3rem;
}

.featured_Desc {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    
}

.featured_Desc p {
    line-height: 1.8;
}

.featured_Info h1 {
  line-height: .9;
}

.featured_Info h4 {
  opacity: 0.5;
}

.featured_Title {
  display: flex;
  flex-direction: column;
  /* gap: 4rem; */
}

.featured_Info p {
  font-size: 2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.featured_Info a {
  color: whitesmoke;
}

.featured_Info a:hover {
    color: grey;
    transition: all .5s;
}

/* Image Styles */
.featured_Image {
  width: 800px;
  border-radius: 1rem;
  box-shadow: 10px 7px 10px rgba(255, 255, 255, 0.15);
}
/* Border Colors for conditions */

.Blue {
  border-color: rgba(30, 143, 255, 0.8);
}

.Red {
  border-color: rgba(255, 0, 0, 0.5);
}

.Grey {
  border-color: grey;
}
