.MS_Border {
  margin: 3rem auto;
  border-bottom: 1px solid rgba(255, 250, 250, 0.3);
}

.MS_Container {
  margin: 0 auto;
  height: 70vh;
  width: 2000px;
  font-size: 3vw;
  color: snow;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.MS_Left_Section {
  width: 40%;
  display: flex;
  height: 100%;
  align-items: center;
}

.MS_Right_Section {
  height: 50%;
  width: 50%;
  display: flex;
}

.MS_Right_Text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 40%;
  text-align: left;

}

.MS_Right_Link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  justify-content: space-between;
}


.MS_Right_Text p {
  font-size: 1rem;
  opacity: 50%;
  line-height: 1.7;
  font-style: italic;
}