.Navbar-Container {
    padding-left: 2rem;
    background-color: rgba(55, 143, 230, 0.5);
    border-bottom: rgba(255, 255, 255, 0.5) 1px solid;
    /* z-index: 1000; */
    /* backdrop-filter: blur(5px); */
}

.Navbar-Flex {
    display: flex;
    justify-content: space-between;
}

.Navbar-Lists {
    display: flex;
    gap: 2rem;
}

.Navbar-Lists ul {
    display: flex;
    list-style-type: none;
}

.Navbar-Lists input {
    /* height: 500px; */
    /* font-size: 2rem; */
    padding: 1rem;
}

.Navbar-Lists ul li {
    font-variant: small-caps;
    padding: 1rem;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.Navbar-Lists ul li:hover {
    cursor: pointer;
    background-color: gainsboro;
    transition: all .5s;
}